body {
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

.App {
	width: 100vw;
	height: 100vh;
	background-color: #ffaa36;
}

.topBar {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2%;
}

.appName {
	font-size: 2em;
}

.page {
	display: flex;
	justify-content: space-between;
	height: calc(100vh - 50px);
}

.appPage {
	height: 100%;
	width: 100%;
	background-color: #d9d9d9;
	border-top-left-radius: 50px;
}

/*---------------------------------menu------------------------------------*/

.menu {
	width: 30vh;
}

.menuCategory {
	font-size: 1.8em;
	padding-left: 5%;
	width: 30vh;
}

.menuCategoryElement {
	font-size: 1.3em;
	padding: 5%;
	padding-left: 20%;
}

.menuCategoryElement:hover {
	background-color: #ffffff3f;
}

/*------------------------------search------------------------------------*/

.searchInput {
	background-color: #ffaa36;
	border: 0;
	border-bottom: grey solid 1px;
	height: 30px;
	outline: none;
}

.searchIcon {
	height: 30px;
}

.search {
	display: flex;
	align-items: center;
}