body {
	margin: 0;
	font-family: sans-serif;
	overflow-y: hidden;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.track {
	width: 98vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1vh 1vw;
	border-top: 1px solid lightgrey;
	box-shadow: 0 0 0 gray;
	transition-duration: 100ms;
}

.track:hover {
	box-shadow: 0 0 20px rgba(128, 128, 128, 0.479);
}

.trackImage {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
}

.trackPlayButon {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
	margin-left: -5vw;
	opacity: 0;
	transition-duration: 100ms;
}

.trackPlayButonVisible {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
	margin-left: -5vw;
	opacity: 0.8;
	transition-duration: 100ms;
}

.trackInfo {
	display: flex;
	align-items: center;
	width: 35vw;
}

.trackNameArtist {
	padding-left: 1vw;
}

.trackName {
	font-size: 1.2em;
	font-weight: bold;
}

.trackArtists {
	display: flex;
	gap: 5px
}

.trackArtistContainer {
	font-size: 0.8em;
	display: flex;
	color: gray;
	cursor: pointer;
}

.trackArtist {
	color: grey;
}

.trackArtist:hover {
	text-decoration: underline;
}

.trackAlbumContainer {
	width: 30vw;
}

.trackAlbum {
	font-size: 1.2em;
	cursor: pointer;
	width: fit-content;
}

.trackAlbum:hover {
	text-decoration: underline;
}

.trackDuration {
	width: 5vw;
	display: flex;
	justify-content: right;
}

.trackActionButon {
	display: flex;
	justify-content: space-between;
	gap: 0.5vw;
	width: 6vw;
}

.trackLike {
	width: 2vw;
}

.trackOption {
	width: 2vw;
}

.trackDownload {
	width: 2vw;
}