body {
	margin: 0;
	font-family: sans-serif;
	overflow-x: hidden;
}

.App {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
}

/* ----------------------------Track--------------------------------- */
.track {
	max-width: 98vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1vh 1vw;
	border-top: 1px solid lightgrey;
	box-shadow: 0 0 0 gray;
	transition-duration: 100ms;
}

.track:hover {
	box-shadow: 0 0 20px rgba(128, 128, 128, 0.479);
}

.trackImage {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
}

.trackPlayButton {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
	margin-left: -5vw;
	opacity: 0;
	transition-duration: 100ms;
}

.trackPlayButtonVisible {
	border-radius: 4px;
	height: 5vw;
	width: 5vw;
	margin-left: -5vw;
	opacity: 0.8;
	transition-duration: 100ms;
}

.trackInfo {
	display: flex;
	align-items: center;
	width: 35vw;
}

.trackNameArtist {
	padding-left: 1vw;
}

.trackName {
	font-size: 1.2em;
	font-weight: bold;
}

.trackArtists {
	display: flex;
	gap: 5px
}

.trackArtistContainer {
	font-size: 0.8em;
	display: flex;
	color: gray;
	cursor: pointer;
}

.trackArtist {
	color: grey;
}

.trackArtist:hover {
	text-decoration: underline;
}

.trackAlbumContainer {
	width: 30vw;
}

.trackAlbum {
	font-size: 1.2em;
	cursor: pointer;
	width: fit-content;
}

.trackAlbum:hover {
	text-decoration: underline;
}

.trackDuration {
	width: 5vw;
	display: flex;
	justify-content: right;
}

.trackActionButton {
	display: flex;
	justify-content: space-between;
	gap: 0.5vw;
	width: 6vw;
}

.trackLike {
	width: 2vw;
}

.trackOption {
	width: 2vw;
}

.trackDownload {
	width: 20px;
	cursor: pointer;
}

/* ----------------------------SideMenu--------------------------------- */
.sideBar {
	position: fixed;
	width: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SideBarPlaceHolder {
	width: 20vw;
	height: 100vh;
}

.sideMenu {
	background-color: #D9D9D9;
	width: 18vw;
	height: 96vh;
	margin: 2vh 2vw;
	border-radius: 20px;
}

.sideMenuIcon {
	height: 3vh;
}

.sideMenuButton {
	display: flex;
	align-items: center;
	gap: 1em;
	background-color: grey;
	margin: 0.5vw;
	padding: 0.3vw;
	border-radius: calc(20px - 0.5vw);
	transition-duration: 100ms;
	cursor: pointer;
}

.sideMenuButton:hover {
	background-color: lightyellow;
}

.sideMenuText {
	font-size: 1.4em;
}

/* -------------------------SideMenuplayer------------------------------ */

.sidePlayer {
	background-color: #D9D9D9;
	width: 16vw;
	height: 52vh;
	margin: 0vh 2vw 2vh;
	border-radius: 20px;
	padding: 1vw;
}

.sidePlayerImage {
	border-radius: calc(20px - 1vw);
	width: 100%;
}

.sidePlayerprogress {
	width: 100%;
	display: flex;
	gap: 0.3vw;
	justify-content: center;
}

.sidePlayerProgressBar {
	width: 100%;
}

.sidePlayerInfo {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.sidePlayerInfoTitle {
	font-size: 1.8em;
}

.sidePlayerInfoArtist {
	font-size: 1.2em;
}

.sidePlayerInfoRight {
	font-size: 1.3em;
}

.sidePlayerControl {
	display: flex;
	gap: 0.3vw;
	align-items: center;
	justify-content: center;
}

.sidePlayerControlBack {
	height: 5vh;
	rotate: 180deg;
	cursor: pointer;
}

.sidePlayerControlSkip {
	height: 5vh;
	cursor: pointer;
}

.sidePlayerControlerPlay {
	height: 6vh;
	cursor: pointer;
}

/* ----------------------------Track--------------------------------- */
.SearchResults {
	display: flex;
	flex-direction: column;
}