@font-face {
	font-family: 'Poppins Black';
	src: url('../public/Assets/Fonts/Poppins-Black.ttf');
}

@font-face {
	font-family: 'Poppins';
	src: url('../public/Assets/Fonts/Poppins-Regular.ttf');
}

:root {
	--BGColor: rgb(42, 42, 49);
	--textColor: rgb(213, 213, 206);
}

body {
	margin: 0;
	font-family: 'Poppins';
	background-color: var(--BGColor);
	color: var(--textColor);
}

h1 {
	font-family: 'Poppins Black';
	color: white;
	width: 20vw;
	text-align: center;
}

a {
	color: inherit;
	text-decoration: inherit;
}

input {
	border: none;
	outline: none;

	background-color: rgb(17, 16, 14);
	color: var(--textColor);
	padding: 1vh 1vw;
	font-size: 1.5em;

	&:focus {
		outline: none;
		border: none;
	}
}

.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.AppInner {
	display: flex;
	width: 100%;
	min-height: 92vh;
}

.AppContainer {
	width: 80vw;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.HomePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.Navbar {
	display: flex;
	align-items: center;

	width: 100%;
	height: 8vh;
	position: sticky;
	top: 0;
	left: 0;
	background-color: rgb(34, 33, 39);

	& > h1 {
		cursor: pointer;
	}
}

.LeftBar {
	position: sticky;
	top: 8vh;
	left: 0;
	height: 92vh;
	width: 20vw;
	background-color: rgb(50, 50, 59);

	display: flex;
	flex-direction: column;
}

.Search {
	margin: 5vh;
	display: flex;
	flex-direction: column;
	gap: 1vh;
	width: calc(80vw - 10vh);
}

.SongList {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	align-items: center;
	gap: 2vw;
	height: 15vh;
	padding: 1vh;
	background-color: var(--BGColor);
	transition-duration: 100ms;
	border-radius: calc(10px + 1vh);

	& > .SongImage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		height: 15vh;
		width: 15vh;
		justify-items: center;
		cursor: pointer;

		& > * {
			grid-row: 1;
			grid-column: 1;
			height: 15vh;
			border-radius: 10px;
		}

		& > div {
			width: 100%;
			background-color: rgba($color: #000000, $alpha: 0.4);
			transition-duration: 200ms;
			opacity: 0;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&:hover {
		background-color: rgb(50, 50, 59);
		& > .SongImage > div {
			opacity: 1;
		}
	}
}

.SongLabel {
	display: flex;
	flex-direction: column;

	& > div:nth-child(1) {
		font-size: 1.1em;
	}

	& > div:nth-child(2) {
		color: #bebebc;
		font-size: 0.9em;
	}
}

.Button {
	font-size: 1.2em;
	cursor: pointer;
	background-color: rgb(41, 108, 197);
	padding: 1vw;
	text-align: center;
	width: fit-content;
	border-radius: 10px;
	border: 1px solid rgba($color: #d5d5ce, $alpha: 0);
	transition-duration: 100ms;

	&:hover {
		background-color: rgb(45, 119, 215);
		border: 1px solid var(--textColor);
	}
}

.Downloads {
	display: flex;
	flex-direction: column;
	padding: 1vh;
	gap: 1vh;
}

.DownloadError > .DownloadLabel {
	color: rgb(226, 59, 59);
}

.Download {
	display: flex;
	align-items: center;
	gap: 1vw;
	height: 5vh;
	padding: 0.5vh;
	border-radius: calc(5px + 0.5vh);
	background-color: var(--BGColor);

	& > .DownloadImage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		& > * {
			grid-column: 1;
			grid-row: 1;
		}

		& > img {
			height: 5vh;
			border-radius: 5px;
		}
	}

	& > .DownloadLabel {
		display: flex;
		flex-direction: column;

		& > div:nth-child(1) {
			font-size: 0.8em;
		}

		& > div:nth-child(2) {
			font-size: 0.6em;
		}
	}

	& > .DownloadLoading {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
	}
}

.RetryArrow {
	cursor: pointer;
}

.ProgressBar {
	padding: 0;
	margin: 0;
}

.dotLoader {
	width: 40px;
	height: 10px;
	--gradient: no-repeat radial-gradient(circle closest-side, var(--textColor) 90%, #0000);
	background: var(--gradient) 0% 50%, var(--gradient) 50% 50%, var(--gradient) 100% 50%;
	background-size: calc(100% / 3) 100%;
	animation: dotLoading 1.5s infinite linear;
	--min: 50%;
}

@keyframes dotLoading {
	0% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
	15% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
	30% {
		background-size: calc(100% / 3) var(--min), calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
	45% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
	60% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) var(--min), calc(100% / 3) 100%;
	}
	75% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
	90% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) var(--min);
	}
	100% {
		background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 100%;
	}
}
